:root {
    --black: #212529;
    --orange: #DE6449;
}


.flex {
    display: flex;
}

.hide {
    display: none;
}

body {
    background-color: var(--orange);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
}

#right {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-left: solid 2px;
    padding-left: 10px;
}

#left {
    margin-right: 10px;
    margin-bottom: 15px;
}
#left h1 {
    font-size: 65px;
}
#left h2 {
    font-size: 40px;
}

#home {
    justify-content: center;
    align-items: center;
    height: 600px;
}
#home #left h2 {
    font-size: 35px;
}

#about, #skills, #contact {
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0 10px;
}

#portfolio {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 10px;
    margin-top: 150px;
}

.nav {
    background-color: var(--orange);
    border: 2px solid var(--black);
    margin: 2px 5px;
    font-size: 20px;
    padding: 2px 9px;
    text-align: justify;
    color: var(--black);
}

.nav:hover {
    color: var(--orange);
    background-color: var(--black);
}

.project {
    padding: 5px 8px;
    color: var(--orange);
    background-color: var(--black);
    margin: 7px;
    width: 200px;
    opacity: 0.8;
}
.project:hover {
    border: solid 2px var(--black);
    background-color: var(--orange);
    color: var(--black);
    box-sizing: border-box;
}


a:hover {
    color: black;
    text-decoration: none;
}

i {
    font-size: 60px;
}

p {
    font-size: 14px;
}

/* Style all font awesome icons */
.fa {
    padding-right: 10px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    color: var(--black);
}


@media (max-width: 400px) { 
    /* CSS Rules */ 
    .flex {
        display: flex;
        flex-direction: column;
    }

    .hide {
        display: none;
    }

    #home #left h2 {
        font-size: 26px;
    }

    #portfolio {
        margin-top: 50px;
    }
    #skills {
        margin-top: 25px;
    }

}

@media (min-width: 994px) {
    #about, #skills, #contact {
        margin: 0 200px;
    }
    #portfolio {
        margin: 0 100px;
        margin-top: 125px;
    }
}

@media (min-width: 1367px) {
    #left h1 {
        font-size: 100px;
    }
    #home {
        height: 700px;
    }
    #left h2 {
        font-size: 50px;
    }
    #home #left h2 {
        font-size: 40px;
    }
    .nav {
        font-size: 30px;
        padding: 2px 10px;
    }
    ul {
        font-size: 25px !important;
    }
    #portfolio {
        margin-top: 250px;
    }
    #about, #skills, #contact {
        height: 700px;
    }
    #right h3 {
        font-size: 35px;
    }
    #right h5 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
    #portfolio #right h3 {
        font-size: 32px;
    }
}

#portfolio #right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    display: list-item;
    list-style-position: inside;
    list-style-type: square;
    font-size: 20px;
    margin-left: -35px;
}

ul span {
    position: relative;
    left: -10px;
}

